*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: black;
}

@font-face {
    font-family: 'netflix_sans_bold';
    src: url('/assets/webfontkit-20221121-173646/netflixsans-bold-webfont.woff2') format('woff2'),
         url('/assets/webfontkit-20221121-173646/netflixsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sanslight';
    src: url('/assets/webfontkit-20221121-173646/netflixsans-light-webfont.woff2') format('woff2'),
         url('/assets/webfontkit-20221121-173646/netflixsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sansmedium';
    src: url('/assets/webfontkit-20221121-173646/netflixsans-medium-webfont.woff2') format('woff2'),
         url('/assets/webfontkit-20221121-173646/netflixsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sansregular';
    src: url('/assets/webfontkit-20221121-173646/netflixsans-regular-webfont.woff2') format('woff2'),
         url('/assets/webfontkit-20221121-173646/netflixsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --primaryColor: #DE0611;
    --borderColor: #222222;
    --fontRegular: 'netflix_sansregular', Arial, sans-serif;
    --fontMedium: 'netflix_sansmedium', Arial, sans-serif;
    --fontLight: 'netflix_sanslight', Arial, sans-serif;
    --fontBold: 'netflix_sans_bold', Arial, sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    margin: 20px 45px;
    position: absolute;
    width: 95%;
}

#sign_in_btn{
    background-color: var(--primaryColor);
    font-family: var(--fontRegular);
    border: none;
    width: 6rem;
    font-size: 16px;
    border-radius: 6px;  
}

#sign_in_btn > a{
    text-decoration: none; 
    color: white;

}


.hero_section{
    background-color: cadetblue;
    padding: 70px 45px;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60)), url(/assets/hero_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid var(--borderColor);

}
.hero_section-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 75px 0;
    margin-top: 100px;
}


.hero_section-text >  h1 {
    font-family: 'netflix_sansmedium', Arial, sans-serif;
    font-size: 50px;
}

.hero_section-text > h2 {
    font-family: var(--fontLight);
    font-size: 22px;
    margin: 10px 0;
}

h3{
    font-family: var(--fontLight);
    font-size: 19px;
}


#register_container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 12px;
    
}

#email{
    padding: 15px;
    width: 80%;
    border: none;
    font-size: 16px;
    font-family: var(--fontRegular);
}

#get_started_btn{
    padding: 15px;
    background-color: var(--primaryColor);
    border: none;
    color: white;
    width: 50%;
    font-family: var(--fontRegular);
    font-size: 26px;
}


/* watchontv section */
.offerings_section{
    padding: 70px 45px;
    border-bottom: 8px solid var(--borderColor);

}

.offerings_section-container{
    display: flex;
    justify-content: space-between;
}

#reverse{
    flex-direction: row-reverse;
}


.offerings_section-text{
    color: white;
    width: 45%;
    padding: 10% 0;

}

.offerings_section-text > h1 {
    font-family: var(--fontMedium);
    font-size: 50px;
    line-height: 55px;
    
}
.offerings_section-text > h1:hover{
    text-decoration: underline;
}

.offerings_section-text > h2 {
    font-family: var(--fontRegular);
    font-size: 26px;
    margin-top: 20px;
}

.downloadandwatch_section-text > h2:hover{
    text-decoration: underline;
}

.offerings_section-img{
    position: relative;
    top: 0;
    left: 0;
}

.tv {
    width: 100%;
    display: block;
}

.poster {
    position: absolute;
    top: 100px;
    left: 85px;
    width: 465px;
    height: 260px;
}

li > i{
    float: right;
}

.faq{
    color: white;
    list-style-type: none;

}
.faq_container{
    margin: 2em auto;
    width: 75%;
}


.faq_list{
    color: white;
    list-style-type: none;
    margin-bottom: 60px;
}


.faq_container > h1{
    color: white;
    font-family: var(--fontMedium);
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}


.faq_list > li{
    background-color: #303030;
    margin-bottom: 10px;
    padding: 30px 15px;
    font-family: var(--fontRegular);
    font-size: 26px;
}

.subscribe{
    width: 65%;
    text-align: center;
    margin: 0 auto;
}




.contactus{
    color: #4F4F4F;
    border-bottom: none;
    padding-bottom: 4px;
}

.contactus_container{
    margin: 2em auto;
    width: 50%;
    font-family: var(--fontRegular);


}

.contactus_content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.contactus_content > ul{
    list-style: none;
    font-family: var(--fontRegular);
    font-size: 13px;
}
.contactus_content > ul >li{
    margin-bottom: 30px;
}

