@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

section{
    margin: 0 auto;
    width: 50%;
    border-radius: 17px;
    border: 3px solid;
    padding: 65px;
    line-height: 25px;

}

.s-one{

    border-color: rgb(89, 177, 1);
    margin-bottom: 20px;
    margin-top: 50px;
    color: green; font-size: 14px;
}

.s-two{

    border-color: rgb(173, 3, 3);
    margin-bottom: 20px;
    color:red; font-size: 14px;

}

.s-three{

    border-color: rgb(1, 1, 99);
    color:blue; font-size: 14px;
}